In [1]:
import numpy as np
import pandas as pd

(sun0, mon0, tue0, wed0, thu0, fri0, sat0, sun1, mon1, tue1, wed1, thu1, fri1, sat1) = range(14)
labels = ['RG', 'LA', 'LS', 'CD', 'CN', 'LH', 'LN', 'MB']
dlabels = ['sun0', 'mon0', 'tue0', 'wed0', 'thu0', 'fri0', 'sat0', 
           'sun1', 'mon1', 'tue1', 'wed1', 'thu1', 'fri1', 'sat1']
days = dict(zip(range(14), dlabels))
row_names = dict(zip(range(8), labels))
row_names[8] = "Total"

def sum_by_leave_category(df):
    rgs = df.loc['RG'].sum()
    las = df.loc['LA'].sum()
    lss = df.loc['LS'].sum()
    cds = df.loc['CD'].sum()
    cns = df.loc['CN'].sum()
    lhs = df.loc['LH'].sum()
    lns = df.loc['LN'].sum()
    mbs = df.loc['MB'].sum()
    sums = pd.Series([rgs, las, lss, cds, cns, lhs, lns, mbs], index=labels)
    return sums

def sum_by_days(df):
    day_sums = pd.Series([df['sun0'].sum(), df['mon0'].sum(), df['tue0'].sum(), df['wed0'].sum(), df['thu0'].sum(), df['fri0'].sum(), df['sat0'].sum(),
                          df['sun1'].sum(), df['mon1'].sum(), df['tue1'].sum(), df['wed1'].sum(), df['thu1'].sum(), df['fri1'].sum(), df['sat1'].sum()],
                        index=dlabels)
    return day_sums

def rg(day, val):
    df.loc['RG', days[day]] = val
    
def la(day, val):
    df.loc['LA', days[day]] = val
    
def ls(day, val):
    df.loc['LS', days[day]] = val
    
def cd(day, val):
    df.loc['CD', days[day]] = val
    
def cn(day, val):
    df.loc['CN', days[day]] = val
    
def lh(day, val):
    df.loc['LH', days[day]] = val
    
def ln(day, val):
    df.loc['LN', days[day]] = val
    
def mb(day, val):
    df.loc['MB', days[day]] = val

In [2]:
times = np.zeros((8, 14))
df = pd.DataFrame(times, index=labels, columns=dlabels)

### Enter Daily Times Here

In [3]:
# update daily times here
# sun0
# mon0
rg(mon0, 8.5)
ln(mon0, 1.0)
# tue0
rg(tue0, 9.0)
# wed0
rg(wed0, 8.5)
ln(wed0, 1.0)
# thu0
rg(thu0, 9.5)
# fri0
rg(fri0, 7.5)
ln(fri0, 1.0)
# sat0
# sun1
# mon1
rg(mon1, 9.0)
# tue1
rg(tue1, 8.0)
# wed1
# thu1
# fri1
# sat1

# df_rowsum = pd.concat([df, sum_by_leave_category(df)], axis=1)
# df_rowsum.rename(columns={0:'Total'})
# df_rowsum2 = df_rowsum.rename(columns={0:'Total'})
# df_rowsum2

In [4]:
# Create Time grid

df_rowsum = pd.concat([df, sum_by_leave_category(df)], axis=1)
df_rowsum.rename(columns={0:'Total'})
df_rowsum2 = df_rowsum.rename(columns={0:'Total'})

df_colsum = df_rowsum2.append(sum_by_days(df),ignore_index=True)
df_colsum.rename(index=row_names, inplace=True)

total_leave = sum_by_leave_category(df).sum()
total_days = sum_by_days(df).sum()
remaining_hrs = 80.0 - total_days

print("\n")
print(f"total by leave category: {total_leave}")
print(f"total by day category:   {total_days}")
print(f"remaining to work:       {remaining_hrs}")
print("==================================================================================")
essential = df_colsum.loc[(df_colsum!=0).any(1)]
from IPython.display import display, HTML
display( HTML( essential.style.render() ) )
# essential
print("==================================================================================")

total by leave category: 63.0
total by day category:   63.0
remaining to work:       17.0
==================================================================================

==================================================================================

In [5]:
# from IPython.display import display, HTML
# display( HTML( essential.style.render() ) )

In [6]:
# df_colsum = df_rowsum2.append(sum_by_days(df),ignore_index=True)
# df_colsum.rename(index=row_names, inplace=True)
# df_colsum

In [7]:
# sum total hour by leave category
# sum_by_leave_category(df)

In [8]:
# sum by days
# sum_by_days(df)

In [9]:
# total_leave = sum_by_leave_category(df).sum()
# total_days = sum_by_days(df).sum()

# if total_leave != total_days:
#     print(f"ERROR: Totals to not match: {total_days} != {total_leave}")
# else:
#     print(f"total by leave category: {total_leave}")
#     print(f"total by day category:   {total_days}")