## Notebook Links


* https://nbviewer.jupyter.org/
* Mining the Social Web
-- https://nbviewer.jupyter.org/github/ptwobrussell/Mining-the-Social-Web-2nd-Edition/tree/master/ipynb/
* A Gallery of Notebooks
-- https://github.com/jupyter/jupyter/wiki/A-gallery-of-interesting-Jupyter-Notebooks#introductory-tutorials
* Data Science Notebooks
-- https://github.com/donnemartin/data-science-ipython-notebooks
* Jupyter vs Zeppelen 
-- https://www.linkedin.com/pulse/comprehensive-comparison-jupyter-vs-zeppelin-hoc-q-phan-mba-/
* 100 Days of ML (parulnith github)
-- https://github.com/parulnith/100-Days-Of-ML-Code
* Panda Videos
-- https://github.com/justmarkham/pandas-videos
* Learn Panda
-- https://github.com/tdpetrou/Learn-Pandas
* Top 8 resources for learning data analysis with pandas
-- https://www.dataschool.io/best-python-pandas-resources/

#### Reference Pages

* JupyterLab extensions
-- https://towardsdatascience.com/jupyter-lab-evolution-of-the-jupyter-notebook-5297cacde6b
* JupyterLab extensions
-- https://github.com/topics/jupyterlab-extension
* Awesome Jupyterlab
-- https://github.com/mauhai/awesome-jupyterlab
* Awesome Jupyter
-- https://github.com/markusschanta/awesome-jupyter
* Notebook Gallery
-- https://github.com/jupyter/jupyter/wiki/A-gallery-of-interesting-Jupyter-Notebooks
* Ritchie Ng
-- https://www.ritchieng.com/programming-languages/
* Chirs Albon
-- https://chrisalbon.com/
* Shane Lynn
-- https://www.shanelynn.ie/category/tutorials/
* Data to Fish
-- https://datatofish.com/

#### Installing JupyterLab Extensions

In [1]:
# install nbextensions
# !pip install jupyter_contrib_nbextensions && jupyter contrib nbextension install --user

# jupyterlab github? extention
# !jupyter labextension install @mflevine/jupyterlab_html

# Plotly extention
# !jupyter labextension install @jupyterlab/plotly-extension

# bokeh extension
# !jupyter labextension install jupyterlab_bokeh

#### To see available magic functions...

In [2]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %colors  %conda  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %man  %matplotlib  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

#### To view installed kernels...

In [3]:
!jupyter kernelspec list

Available kernels:
  racket        /home/mark/.ipython/kernels/racket
  bash          /home/mark/.local/share/jupyter/kernels/bash
  ir            /home/mark/.local/share/jupyter/kernels/ir
  javascript    /home/mark/.local/share/jupyter/kernels/javascript
  scijava       /home/mark/.local/share/jupyter/kernels/scijava
  java          /home/mark/penvs/generic/share/jupyter/kernels/java
  python3       /home/mark/penvs/generic/share/jupyter/kernels/python3
  scilab        /home/mark/penvs/generic/share/jupyter/kernels/scilab
  python2       /usr/local/share/jupyter/kernels/python2


#### Use interactive widgets in notebook (not lab)

In [4]:
# works on notebooks but not jupyter lab

from ipywidgets import interact
import ipywidgets as widgets

def f(x):
    return x

# Generate a slider 
interact(f, x=10,);

10

In [5]:
# Booleans generate check-boxes
interact(f, x=True);

True

#### Display html pages within cells

In [6]:
# Note that http urls will not be displayed. Only https are allowed inside the Iframe

from IPython.display import IFrame
IFrame('https://en.wikipedia.org/wiki/HTTPS', width=800, height=450)

#### Install jupyterthemes (notebook only)

In [7]:
# !pip install jupyterthemes

# list themes
!jt -l

Available Themes:
   chesterish
   grade3
   gruvboxd
   gruvboxl
   monokai
   oceans16
   onedork
   solarizedd
   solarizedl

In [8]:
# install theme

# !jt -t solarizedd

In [9]:
# Themes for JupyterLab

# !jupyter labextension install @oriolmirosa/jupyterlab_materialdarker

In [11]:
import numpy as np
import pandas as pd
INFILE = 'excel.xls'
prev_results = pd.ExcelFile(INFILE)

In [13]:
prev_results.parse()

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
5  6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
6  7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
7  8    Earlean     Melgar  Female  United States   27  16/08/2016  2456
8  9   Vincenza    Weiland  Female  United States   40  21/05/2015  6548

In [16]:
INFILE2 = 'excel2.xlsx'
results = pd.ExcelFile(INFILE2)
df = results.parse()
df.head(5)

,Unnamed: 0,First Name,Last Name,Gender,Country,Age,Date,Id
0,1,Dulce,Abril,Female,United States,32,15/10/2017,1562
1,2,Mara,Hashimoto,Female,Great Britain,25,16/08/2016,1582
2,3,Philip,Gent,Male,France,36,21/05/2015,2587
3,4,Kathleen,Hanner,Female,United States,25,15/10/2017,3549
4,5,Nereida,Magwood,Female,United States,58,16/08/2016,2468

In [18]:
df.rename({0:'zero', 2:'two'})

,Unnamed: 0,First Name,Last Name,Gender,Country,Age,Date,Id
zero,1,Dulce,Abril,Female,United States,32,15/10/2017,1562
1,2,Mara,Hashimoto,Female,Great Britain,25,16/08/2016,1582
two,3,Philip,Gent,Male,France,36,21/05/2015,2587
3,4,Kathleen,Hanner,Female,United States,25,15/10/2017,3549
4,5,Nereida,Magwood,Female,United States,58,16/08/2016,2468
5,6,Gaston,Brumm,Male,United States,24,21/05/2015,2554
6,7,Etta,Hurn,Female,Great Britain,56,15/10/2017,3598
7,8,Earlean,Melgar,Female,United States,27,16/08/2016,2456
8,9,Vincenza,Weiland,Female,United States,40,21/05/2015,6548
9,10,Fallon,Winward,Female,Great Britain,28,16/08/2016,5486
10,11,Arcelia,Bouska,Female,Great Britain,39,21/05/2015,1258
11,12,Franklyn,Unknow,Male,France,38,15/10/2017,2579
12,13,Sherron,Ascencio,Female,Great Britain,32,16/08/2016,3256
13,14,Marcel,Zabriskie,Male,Great Britain,26,21/05/2015,2587
14,15,Kina,Hazelton,Female,Great Britain,31,16/08/2016,3259
15,16,Shavonne,Pia,Female,France,24,21/05/2015,1546
16,17,Shavon,Benito,Female,France,39,15/10/2017,3579
17,18,Lauralee,Perrine,Female,Great Britain,28,16/08/2016,6597
18,19,Loreta,Curren,Female,France,26,21/05/2015,9654
19,20,Teresa,Strawn,Female,France,46,21/05/2015,3569
20,21,Belinda,Partain,Female,United States,37,15/10/2017,2564
21,22,Holly,Eudy,Female,United States,52,16/08/2016,8561
22,23,Many,Cuccia,Female,Great Britain,46,21/05/2015,5489
23,24,Libbie,Dalby,Female,France,42,21/05/2015,5489
24,25,Lester,Prothro,Male,France,21,15/10/2017,6574
25,26,Marvel,Hail,Female,Great Britain,28,16/08/2016,5555
26,27,Angelyn,Vong,Female,United States,29,21/05/2015,6125
27,28,Francesca,Beaudreau,Female,France,23,15/10/2017,5412
28,29,Garth,Gangi,Male,United States,41,16/08/2016,3256
29,30,Carla,Trumbull,Female,Great Britain,28,21/05/2015,3264
...,...,...,...,...,...,...,...,...
4970,4971,Belinda,Partain,Female,United States,37,15/10/2017,2564
4971,4972,Holly,Eudy,Female,United States,52,16/08/2016,8561
4972,4973,Many,Cuccia,Female,Great Britain,46,21/05/2015,5489
4973,4974,Libbie,Dalby,Female,France,42,21/05/2015,5489
4974,4975,Lester,Prothro,Male,France,21,15/10/2017,6574
4975,4976,Marvel,Hail,Female,Great Britain,28,16/08/2016,5555
4976,4977,Angelyn,Vong,Female,United States,29,21/05/2015,6125
4977,4978,Francesca,Beaudreau,Female,France,23,15/10/2017,5412
4978,4979,Garth,Gangi,Male,United States,41,16/08/2016,3256
4979,4980,Carla,Trumbull,Female,Great Britain,28,21/05/2015,3264
4980,4981,Veta,Muntz,Female,Great Britain,37,15/10/2017,4569
4981,4982,Stasia,Becker,Female,Great Britain,34,16/08/2016,7521
4982,4983,Jona,Grindle,Female,Great Britain,26,21/05/2015,6458
4983,4984,Judie,Claywell,Female,France,35,16/08/2016,7569
4984,4985,Dewitt,Borger,Male,United States,36,21/05/2015,8514
4985,4986,Nena,Hacker,Female,United States,29,15/10/2017,8563
4986,4987,Kelsie,Wachtel,Female,France,27,16/08/2016,8642
4987,4988,Sau,Pfau,Female,United States,25,21/05/2015,9536
4988,4989,Shanice,Mccrystal,Female,United States,36,21/05/2015,2567
4989,4990,Chase,Karner,Male,United States,37,15/10/2017,2154
4990,4991,Tommie,Underdahl,Male,United States,26,16/08/2016,3265
4991,4992,Dorcas,Darity,Female,United States,37,21/05/2015,8765
4992,4993,Angel,Sanor,Male,France,24,15/10/2017,3259
4993,4994,Willodean,Harn,Female,United States,39,16/08/2016,3567
4994,4995,Weston,Martina,Male,United States,26,21/05/2015,6540
4995,4996,Roma,Lafollette,Female,United States,34,15/10/2017,2654
4996,4997,Felisa,Cail,Female,United States,28,16/08/2016,6525
4997,4998,Demetria,Abbey,Female,United States,32,21/05/2015,3265
4998,4999,Jeromy,Danz,Male,United States,39,15/10/2017,3265
4999,5000,Rasheeda,Alkire,Female,United States,29,16/08/2016,6125